In [1]:
import pandas as pd

In [7]:
s = pd.Series([12,23,25,46,76])
s

0    12
1    23
2    25
3    46
4    76
dtype: int64

In [9]:
s.dtype

dtype('int64')

In [10]:
s.values

array([12, 23, 25, 46, 76], dtype=int64)

In [11]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
s.name = "numbers"

In [15]:
s

0    12
1    23
2    25
3    46
4    76
Name: numbers, dtype: int64

In [16]:
s.name

'numbers'

In [18]:
s[0:4]

0    12
1    23
2    25
3    46
Name: numbers, dtype: int64

In [24]:
s.iloc[[1,2,4]]

1    23
2    25
4    76
Name: numbers, dtype: int64

In [25]:
import numpy as np

In [ ]:
ser = pd.Series(['a', np.nan, 1 , np.nan, 2])
s.notnull().sum()

df = pd.Dataframe()